#exersise-block {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.exercise-card {
  width: 100%;
  max-width: 335px;
  background-color: #fff;
  border-radius: 15px;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .exercise-card {
    max-width: 344px;
  }
}

@media screen and (min-width: 1440px) {
  .exercise-card {
    max-width: 442px;
  }

  .favorite-card {
    max-width: 405px;
  }
}

.exercise-card-header {
  display: flex;
  align-items: center;
}

.exercise-card-title {
  border: 1px solid #242424;
  border-radius: 15px;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 12px;
  color: #242424;
  text-transform: uppercase;
  padding: 5px 8px;
}

.exercise-card-rating {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #242424;
  margin-left: 16px;
}

.exercise-rating-icon {
  fill: #eea10c;
  width: 18px;
  height: 18px;
  padding: 2px;
  position: relative;
  top: -1px;
}

.exercise-card-start {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #242424;
  display: flex;
  align-items: center;
  gap: 8px;
}

.exercise-start-icon {
  fill: #242424;
  width: 18px;
  height: 18px;
  padding: 2px;
  transform: rotate(90deg);
}

.exercise-card-content {
  margin-top: 25px;
  margin-bottom: 16px;
  display: flex;
}

.exercise-card-name {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #242424;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-name-icon {
  margin-right: 16px;
}

.exercise-card-footer {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(36, 36, 36, 0.4);
  gap: 16px;
}

.exercise-card-detail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-card-footer .value {
  color: #242424;
}

.exercise-card-remove.btn {
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 8px;
}
.exercise-card-remove.btn {
  background-color: transparent;
}

.exercise-card-remove.btn .icon {
  height: 16px;
  width: 16px;
}

.exercise-card-remove.btn:hover .icon {
  fill: var(--color-white);
  stroke: var(--color-black);
}

#exercises-list.empty {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#exercises-list .message {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: var(--color-black);
  max-width: 318px;
}

@media (min-width: 768px) {
  #exercises-list .message {
    max-width: 554px;
  }
}
