@import '../common/reset.css';
@import '../common/document.css';

.hidden {
  display: none;
}

.section {
  padding-top: 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

@media only screen and (min-width: 1280px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .hero-headers {
    order: 1;
    flex: 1;
  }

  .hero-extras {
    order: 2;
    flex: 1;
  }

  .hero-image {
    order: 3;
    width: 100%;
  }
}

@media only screen and (max-width: 1279px) {
  .hero-headers {
    order: 1;
  }

  .hero-image {
    order: 2;
  }

  .hero-extras {
    order: 3;
  }
}

.hero-image {
  max-height: 570px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  background: rgb(255, 255, 255);
}

.hero-picture {
  border-radius: 30px;
}

.tag-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .tag-items {
    justify-content: end;
  }
}

@media only screen and (min-width: 1280px) {
  .tag-items {
    max-width: 197px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }
}

.hero-headers {
  max-width: 639px;
}

.hero-header-top {
  display: inline-block;
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .hero-header-top {
    max-width: 639px;
    font-size: 74px;
    line-height: 1;
  }
  .header-top-sun {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-header-top {
    font-size: 74px;
    line-height: 1;
    letter-spacing: -0.02em;
  }
}

.header-top-sun {
  vertical-align: middle;
}

.hero-header-bottom {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .hero-header-bottom {
    max-width: 528px;
    font-size: 18px;
    line-height: 1.33333;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-header-bottom {
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
  }
}

.hero-extras {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  justify-content: right;
}

.hero-headers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-extras-picture {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .hero-extras-picture {
    display: block;
    border-radius: 20px;
  }
}

.hero-tags {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2%;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 30px;
  padding: 0 8px;
}

@media only screen and (min-width: 1280px) {
  .hero-tags {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    width: 86px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
  }
}
