.modal {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(4, 4, 4, 0.4);
  animation: fadeIn 0.5s;
}

.modal.show {
  display: flex;
}

.modal.hide {
  animation: fadeOut 0.5s forwards;
}

.modal-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.modal-container {
  position: relative;
  margin: 0 auto;
  background: var(--color-black);
  border-radius: 20px;
  padding: 40px 20px;
  width: 335px;
  max-width: 100vw;
  max-height: 90%;
  overflow: hidden;
  animation: slideIn 0.5s;
}

.modal-container.hide {
  animation: slideOut 0.5s forwards;
}

.modal-body {
  overflow: auto;
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  color: #aaa;
  display: inline-flex;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
}

.modal-close-btn .icon {
  stroke: #ffffff;
  width: 12px;
  height: 12px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1440px) {
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50px);
  }
}

/* ratting */
.rating {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #f4f4f4;
  gap: 2px;
}

.rating .icon {
  width: 18px;
  height: 18px;
  fill: rgba(244, 244, 244, 0.2);
}

.rating .icon.filled {
  fill: #eea10c;
}

/* exercise-detail */
.exercise-detail {
  --text-muted: rgba(244, 244, 244, 0.6);
}

.exercise-detail .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.exercise-detail .card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercise-detail .card-img {
  border-radius: 12px;
  max-height: 258px;
  width: 100%;
  object-fit: cover;
  /* object-position: bottom; */
}

.exercise-detail hr {
  width: 100%;
  height: 1px;
  margin: 0;
  border: 0;
  background: rgba(244, 244, 244, 0.2);
}

.exercise-detail .modal-title {
  color: var(--color-white);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.exercise-detail p {
  color: var(--text-muted);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
}

.exercise-detail .modal-action {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.exercise-detail .modal-action .btn {
  width: 100%;
}

.exercise-detail .char-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.exercise-detail .char-item {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
}

.exercise-detail .char-item .title {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(244, 244, 244, 0.4);
}

.exercise-detail .char-item .description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #f4f4f4;
}

@media (min-width: 768px) {
  .modal-container {
    width: 708px;
  }

  .modal .modal-body .card {
    display: flex;
  }

  .modal-close-btn {
    top: 24px;
    right: 24px;
  }

  .modal-close-btn .icon {
    width: 14px;
    height: 14px;
  }

  .modal-container {
    padding: 32px;
  }

  .exercise-detail .modal-title {
    font-size: 24px;
  }

  .exercise-detail .card {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
  }

  .exercise-detail .modal-action {
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 64px;
  }

  .exercise-detail .modal-action .btn {
    width: auto;
  }
}
