.modal {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(4, 4, 4, 0.4);
  animation: fadeIn 0.5s;
}

.modal.show {
  display: flex;
}

.modal.hide {
  animation: fadeOut 0.5s forwards;
}

.modal-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.modal-container {
  position: relative;
  margin: auto;
  background: var(--color-black);
  border-radius: var(--radius-m);
  padding: 40px 20px;
  width: 335px;
  max-width: 100vw;
  max-height: 98%;
  overflow: hidden;
  animation: slideIn 0.3s;
  display: flex;
  flex-direction: column;
}

.modal-container.hide {
  animation: slideOut 0.3s forwards;
}

.modal-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.modal-close-btn {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  cursor: pointer;
}

.modal-close-btn .icon {
  stroke: var(--color-white);
  width: 12px;
  height: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}

/* ratting */
.rating {
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--color-white);
  gap: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-white);
}

.rating .icon {
  width: 18px;
  height: 18px;
  fill: rgba(244, 244, 244, 0.2);
  padding: 2px;
}

.rating > .icon:first-of-type {
  margin-left: 2px;
}

.rating .icon.filled {
  fill: #eea10c;
}

/* exercise-detail */
.exercise-detail {
  --text-muted: rgba(244, 244, 244, 0.6);
}

.exercise-detail .card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 100%;
}

.exercise-detail .card-img {
  border-radius: var(--radius-xs);
  max-height: 258px;
  width: 100%;
  object-fit: cover;
  min-height: 258px;
}

.exercise-detail .card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercise-detail .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.exercise-detail .card-title {
  color: var(--color-white);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.exercise-detail .modal-actions {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.exercise-detail .modal-actions .btn {
  width: 100%;
}

.exercise-detail .char-info {
  color: var(--text-muted);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
}

.exercise-detail .char-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-top: 1px solid rgba(244, 244, 244, 0.2);
  border-bottom: 1px solid rgba(244, 244, 244, 0.2);
  padding: 10px 0px;
  margin: 20px 0;
}

.exercise-detail .char-item {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
}

.exercise-detail .char-item .title {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(244, 244, 244, 0.4);
}

.exercise-detail .char-item .description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--color-white);
}

.modal__window_rating > .modal-container {
  max-width: 335px;
  padding: 20px;
  width: 100%;
}

.modal__window_rating form {
  display: flex;
  flex-direction: column;
}

.modal__rating-title {
  color: rgba(244, 244, 244, 0.4);
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 8px;
  font-weight: 400;
}

.modal__rating {
  display: flex;
  align-content: center;
  gap: 2px;
  margin-bottom: 20px;
}

.modal__rating-value {
  color: var(--color-white);
  font-size: 12px;
  line-height: 1.5;
}

.modal__rating-star input[type='radio'] {
  display: none;
}

.modal__rating-star svg {
  width: 18px;
  height: 18px;
  fill: rgba(244, 244, 244, 0.2);
  padding: 1px;
}

.modal__rating-star:first-of-type {
  margin-left: 3px;
}

.modal__rating-star label {
  cursor: pointer;
}

.modal__rating-star label svg path {
  transition: fill 0.3s ease, fill-opacity 0.3s ease;
}

.modal__rating-star.active label svg path,
.modal__rating-star:hover label svg path {
  fill: #ffd700;
  fill-opacity: 1;
}

.modal__rating-field {
  display: inline-flex;
  padding: 8px 14px;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-m);
  border: 1px solid var(--color-white);
  color: rgba(244, 244, 244, 0.6);
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  margin-bottom: 10px;
}

.modal__rating-field:focus {
  outline: none;
}

.modal__rating-field.textarea {
  resize: none;
  border-radius: var(--radius-s);
  height: 93px;
  margin-bottom: 20px;
}

.modal__rating-field::placeholder {
  font-size: 14px;
}

.modal__rating-submit {
  display: inline-flex;
  padding: 9px 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--radius-m);
  background: var(--color-white);
  color: var(--color-black);
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  border: none;
  font-size: 14px;
}

.modal__rating-submit:hover {
  background-color: rgba(244, 244, 244, 0.6);
  color: var(--color-white);
}

@media (min-width: 768px) {
  .modal__rating {
    margin-bottom: 32px;
  }

  .modal-container {
    width: 708px;
    padding: 32px;
  }

  .modal .modal-body .card {
    display: flex;
  }

  .modal-close-btn {
    width: 28px;
    height: 28px;

    .modal-close-btn .icon {
      width: 12px;
      height: 12px;
    }
  }

  .exercise-detail .card-title {
    font-size: 24px;
  }

  .exercise-detail .card {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
  }

  .exercise-detail .modal-actions {
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 64px;
  }

  .exercise-detail .modal-actions .btn {
    width: auto;
  }

  .modal__window_rating > .modal-container {
    max-width: 430px;
    padding: 40px;
  }

  .exercise-detail .char-list {
    padding: 16px 0px;
  }
}
