<footer class="section footer">
    <img src="/src/img/logo.svg" alt="Your Energy" class="header-logo" />

    <div class="header-social">
        <a href="https://www.facebook.com/goITclub/" class="header-social-link" target="_blank">
          <img src="./img/social/facebook.svg" class="header-social-icon" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/goitclub/" class="header-social-link" target="_blank">
          <img src="./img/social/instagram.svg" class="header-social-icon" alt="Instagram" />
        </a>
        <a href="https://www.youtube.com/c/GoIT" class="header-social-link" target="_blank">
          <img src="./img/social/youtube.svg" class="header-social-icon" alt="Youtube" />
        </a>
      </div>
    <div class="copyright">
      <ul class="copyright-text">
        Your Energy. All rights reserved.
      </ul>
      <ul class="copyright-legal">
        <li class="copyright-legal-item">Privacy Policy / Terms of Service</li>
      </ul>
    </div>
</footer>