<header class="section header">
  <img src="./img/logo.svg" alt="Your Energy" class="header-logo" />

  <nav class="header-nav">
    <ul class="header-nav-menu">
      <li class="header-nav-item"><a href="./index.html" class="header-nav-link selected">Home</a></li>
      <li class="header-nav-item"><a href="./favorites.html" class="header-nav-link">Favorites</a></li>
    </ul>
  </nav>

  <div class="header-social">
    <a href="https://www.facebook.com/goITclub/" class="header-social-link" target="_blank">
      <img src="./img/social/facebook.svg" class="header-social-icon" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/goitclub/" class="header-social-link" target="_blank">
      <img src="./img/social/instagram.svg" class="header-social-icon" alt="Instagram" />
    </a>
    <a href="https://www.youtube.com/c/GoIT" class="header-social-link" target="_blank">
      <img src="./img/social/youtube.svg" class="header-social-icon" alt="Youtube" />
    </a>
  </div>

  <div class="header-burger"><img src="./img/burger.svg" alt="burger menu" /></div>
</header>
