<div class="quote-wrapper">

        <div class="quote-main">
            <img src="./img/quote/runner.svg" alt="runner" class="quote-main--runner"/>

            <div class="quote-main--text">
                <h3 class="quote-main--title"><span class="quote-main--title-text">Quote of the day</span><img src="./img/quote/inverted-commas.svg" alt="inverted-commas" class="quote-main--title-quotes"/></h3>

                <p class="quote-main--quote">A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.</p>

                <p class="quote-main--author">Tom Brady</p>
            </div>
        </div>

        <div class="quote-picture"><img src="./img/quote/quote-mob.jpg" alt="quote" class="quote-picture--image"></div>

        <div class="quote-description">Quote</div>

</div>