<footer class="footer-section">
  <div class="container">
    <div class="footer-content">
      <div class="footer-part-1">
        <a class="footer-logo" href="./index.html" aria-label="Your Energy">
          <svg class="footer-logo-icon" width="132" height="24">
            <use href="./img/social/footer_sprite.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a href="https://www.facebook.com/goITclub/" class="footer-socials-link" target="_blank" rel="noopener noreferrer" aria-label="facebook icon">
              <svg class="footer-socials-icon" width="7" height="17">
                <use href="./img/social/footer_sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a href="https://www.instagram.com/goitclub/" class="footer-socials-link" target="_blank" rel="noopener noreferrer" aria-label="instagram icon">
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/social/footer_sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a href="https://www.youtube.com/c/GoIT" class="footer-socials-link" target="_blank" rel="noopener noreferrer" aria-label="youtube icon">
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/social/footer_sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-part-2">
        <div class="footer-text-cl">
          <p class="footer-text">Transforming your <span class="footer-text-span">body</span> shape with us</p>
        </div>

        <div class="footer-text-cl-pl">
          <p class="footer-text">Transforming</p>
          <p class="footer-text">your <span class="footer-text-span">body</span> shape</p>
          <p class="footer-text">with us</p>
        </div>

        <div class="footer-text-cl-fs">
          <p class="footer-text">Transforming your <span class="footer-text-span">body</span> shape with us</p>
        </div>

        <div class="subscribe-form">
          <form action="#" class="form-input" id="subscription-form">
            <p class="sub-text">Subscribe and learn about new exercises!</p>
            <input type="email" id="email" name="email" placeholder="Email" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required />
            <button type="submit">Send</button>
          </form>
        </div>
        <script src="./js/subscribe.js" type="module"></script>
      </div>
    </div>

    <div class="copyright">
      <div class="copyright-text">Your Energy. All rights reserved.</div>
      <ul class="copyright-legal">
        <li class="privacy-policy">Privacy Policy</li>
        <li>/</li>
        <li class="terms-of-service">Terms of Service</li>
        <li class="copy-year">©2023</li>
      </ul>
    </div>
  </div>
</footer>
