<!-- This section is for testing purposes -->
<div class="section">
  <button id="modal_open_btn" type="button">Open modal</button>
</div>

<!-- Start Modal window markup -->
<!-- should be placed at the end of the body, after all other elements -->
<div id="modalRoot" class="modal__backdrop">
  <div class="modal__window">
    <img class="svg modal__close-btn" id="main_close_btn" src="./img/close-btn.svg" alt="X" />
    <div class="modal__content"></div>
    <button id="give_rating_btn" type="button">Give a rating</button>
  </div>
</div>
<!-- End Modal window markup -->

<!-- This script is to show how to use ModalWindow -->
<script type="module">
  import { ModalWindow } from './js/utils/modalWindow';

  const modalRootEl = document.getElementById('modalRoot');
  const modal = new ModalWindow(modalRootEl);

  const ratingModalRootEl = document.getElementById('ratingModalRoot');
  const ratingModal = new ModalWindow(ratingModalRootEl, {
    onCloseCallback: () => {
      initializeModal();
    }
  });

  const initializeModal = () => {
    const modalHtmlContents = `
    <div>Modal opened</div>
  `;
    modal.show(modalHtmlContents);
    document.getElementById('give_rating_btn').addEventListener('click', openRatingModal);
  };

  const openRatingModal = () => {
    modal.close();
    ratingModal.show();
    document.getElementById('ratingForm').addEventListener('submit', submitRating);
  };

  document.getElementById('modal_open_btn').addEventListener('click', initializeModal);
</script>