<div class="quote-home-wrapper">
    <div class="quote-main-home-wrapper">
        <load="partials/common/quote-main.html" />
    </div>

    <div class="quote-picture-home-wrapper">
        <div class="quote-picture">
            <picture>
                <source srcset="./img/quote/quote-desk.jpg, ./img/quote/quote-desk@2x.jpg 2x" media="(min-width: 1440px)">
                <source srcset="./img/quote/quote-tab.jpg, ./img/quote/quote-tab@2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="./img/quote/quote-mob.jpg, ./img/quote/quote-mob@2x.jpg 2x">

                <img src="./img/quote/quote-mob.jpg" alt="quote" class="quote-picture-image">
            </picture>
        </div>
    </div>

    <div class="quote-peptalk-home-wrapper">
        <div class="quote-peptalk">
            <svg class="quote-peptalk-icon">
                <use href="./img/icons.svg#icon-barbell-circle" width="32" height="32" />
            </svg>

            <div class="quote-peptalk-text">
                <h3 class="quote-peptalk-title">110 min</h3>
                <p class="quote-peptalk-subtitle">Daily norm of sports</p>
                <p class="quote-peptalk-description">The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day? While it might seem like a high number to hit, dedicating 110 minutes daily to sporting activities may offer unparalleled benefits to physical health, mental well-being, and overall quality of life.</p>
            </div>
        </div>
    </div>

    <script src="./js/quote.js" type="module"></script>
</div>